################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.suo
/OpenStoreImport/.vs/OpenStoreImport/v15/Server/sqlite3
/OpenStoreImport/bin/Debug
